* {
  background: cyan;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height:100%;
}

.logo-alura {
  margin-left: 20px;
  padding-top: 20px;
  width: 3%;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.text-area {
  border: none;
  color: #0A3871;
  font-size: 34px;
  margin-top: 50px;
  text-transform: lowercase;
}

::placeholder { color: #0A3871;}
  .text-area:focus {
    outline: none;
  }

.textarea-mensagem-encriptada {
  background: white;
  background-image: url(/imagens/sherlock-holmes.png);
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 34px;
  width: 337px;
  height: 291px;
  color: #0A3871;
  margin-left: 5px;
  margin-top: 50px;
  position: absolute;
  outline: none;
}

.botoes {
  display: flex;
  margin-top: 18px;
}

.btn-encrypt {
  background-color: blue;
  border: 1px solid blue;
  font-size: 24px;
  border-radius: 12px;
  color: wheat;
  cursor: pointer;
  height: 67px;
  width: 228px;
  transition: 1s all;
}

.btn-encrypt:hover {
  background: green;
  transform: scale(1.2);
}

.btn-descrypt {
  background: green;
  border: 1px solid green;
  border-radius: 12px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  height: 67px;
  margin-left: 30px;
  margin-right: 30px;
  width: 228px;
  transition: 1s all;
}

.btn-descrypt:hover {
  background: red;
  transform: scale(1.2);
}

input {
  background: orangered;
  border: 1px solid orangered;
  border-radius: 12px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  height: 47px;
  margin-top: 288px;
  margin-left: 104px;
  position: absolute;
  width: 109px;
}

.alerta {
  color: #495057;
  font-size: 18px;
}

.github {
  width: 30px;
  height: 30px;
  border-radius: 24px;
  margin-left: 40px;
}

.linkedin {
  width: 30px;
  height: 30px;
  border-radius: 24px;
  margin-left: 20px;
}